#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 9.5rem;    /* Footer height */
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;            /* Footer height */
}

.contactTextarea{
    /* Breite und Höhe werden angepasst */
    width:500px;
    height:200px;
}

.header_button_list {
  text-decoration: none;
  color: rgb(202, 57, 43);
}

.header_button {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.headline {
    display: block;
    margin: 0 auto;
}

.indexImage {
    background-image: url("https://lkao6q.ch.files.1drv.com/y4mSE3SKD_4XCVzDecoffVnzTyb9Pd6Mtelm5OH6jLgH3Hdg5YJaiPaRo19-nTSmRUjqMZUZ7h6oRYkiaEmkv_bWFUUTj1N0YXobtyaSp7vs8G-qjh2QlDqk4Z8Rcu-4K14D-C8Pze3WqzLzcYl5qDq3b2Tgm5ds66FdmUeAK3MscpMwIqAbjIzAAvAlJpU3QMXjFc6fWYyLWOo4DEvi71Y_g?width=6000&height=4000&cropmode=none");
    color: #cccccc;
}

.login_button {
    text-decoration: none;
    color: black;
}

.header_color{
  background-color: transparent;
    color: black;
}

.header_login {
  max-width: 90%;
  background-color: gray;
  border-left-width: 5px;
  margin-left: 5%;
}

.ImpressumHaftungshinweis{
  font-weight: bold;
  font-size: 20px;
    color: white;
}

/*noinspection ALL*/
.mainColor{
  background-color: lightgray;

}

.CN_index_Main_Card{
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    min-height: 150px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.85);
}

.news_Card_location {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.85);

}

.news_Card_location_Pfadis {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.85);

}

.CN_index_Main_Card-text{
    background: transparent;
  color: rgba(0,0,0,.54);
  font-size: 1.3rem;
  line-height: 24px;
  overflow: hidden;
  padding: 16px;
  max-width: 80%;
  float: left;
}

.CN_index_Main_Card-logo {
    max-width: 90%;
    float: right;
    overflow: hidden;
    padding: 0px;
    background: transparent;
}

.image_settings{
    max-width: 60%;
    display: block;
    overflow: hidden;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.85);
}

div.CN_index_Main_Card-logo img{
  width: 80%;
  height: 80%
}

.CN_full-size_card {
    min-height: 100%;
    min-width: 100%;
}

.CN_full-size_card_stammesinfo {
    min-height: 100%;
    min-width: 70%;
    margin: 0 auto;
    display: block;
    background: rgba(255, 255, 255, 0.85);
}


.attention_message {
  color: white;
  font-weight: bold;
  background-color: red;
}

.eu_cookiebox {
    display: block;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    min-height: 30px;
    padding: 5px;
    margin: 0;
    width: 100%;
    color: #555;
    border: 1px solid black;
    border-bottom: none;
    background: #fff;
}

.impressum_card{
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.center{
    text-align: center;
}

.center_ssi_welcome{
    text-align: center;
}

.center_ssi_logout {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.center_text {
    margin: 0 auto;
    display: block;
}

.social-btn__blogger {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_facebook_white_24dp.png');
}

.social-btn__instagram {
    -webkit-background-size: inherit;
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_instagram_white_24dp.png');
}
/*
.social-btn {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.46;
    border-radius: 2px;
}

.mdl-mini-footer--social-btn, .mdl-mini-footer__social-btn {
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    border: none;
}


.left {
    padding-left: 10px;
}
*/
.right {
    text-align: right;
}

.description {
    font-size: 10px;
}

.docs-footer.mdl-mini-footer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 120px;
}

.docs-footer.mdl-mini-footer, .docs-footer.mdl-mini-footer ul {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.docs-footer.mdl-mini-footer ul {
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.docs-footer.mdl-mini-footer ul > li > a {
    margin: 0 8px;
    font-weight: 400;
    font-size: 12px;
}

.docs-footer .docs-link-list li {
    margin-left: .5em;
    margin-right: .5em;
}

.docs-layout-content p, .docs-text-styling ol li {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.docs-footer .docs-link-list li {
    margin-left: .5em;
    margin-right: .5em;
}

.mdl-navigation__link--icon > span, .mdl-navigation__link--icon > .material-icons {
    line-height: 64px;
    margin-right: 8px;
    line-height: inherit
}

.docs-navigation .mdl-navigation__link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
    height: 64px
}

.docs-footer.mdl-mini-footer .mdl-mini-footer--social-btn {
    background-color: transparent;
    margin: 0 16px;
    width: 24px;
    height: 24px
}

.docs-footer.mdl-mini-footer .social-btn {
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer
}

.docs-layout-content p, .docs-text-styling ol li {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif
}

.docs-text-styling h1 {
    color: #c2185b;
    margin: .67em 0
}

.docs-text-styling h2 {
    padding-top: 48px;
    line-height: 32px;
    margin-bottom: 30px;
    color: #c2185b
}

.docs-text-styling h1, .docs-text-styling h2, .docs-text-styling h3,
.docs-text-styling h4 {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    font-weight: 500;
    text-transform: uppercase
}

.docs-layout-content h2.mdl-card__title-text {
    padding-top: 0;
    margin-bottom: 0
}

.docs-text-styling a {
    text-decoration: none
}

.docs-layout-content .mdl-download {
    color: #000;
    font-weight: 400
}

.docs-layout-title a {
    color: inherit;
    text-decoration: none
}

.component-description {
    max-width: 720px;
    padding: 40px
}

.component-description .mdl-button:first-of-type {
    margin-top: 8px
}

.started .content, .styles .content, .faq .content {
    padding: 40px;
    display: inline-block;
    text-align: left;
    width: 100%;
    box-sizing: border-box
}

.docs-layout ul {
    list-style-type: none
}

.docs-layout li {
    position: relative
}

.styles .content li:before, .docs-readme .content li:before {
    position: absolute;
    top: 2px;
    left: -28px;
    content: '•';
    font-size: 32px
}

address, ul, ol {
    font-weight: 400;
    letter-spacing: 0
}

ul, ol {
    font-size: 14px;
    line-height: 24px
}

img{
    max-width: 100%;
    height: auto;
}