.header_button {
  text-decoration: none;
  color: #FC5D19;
}

.header_login {
  max-width: 90%;
  background-color: cornflowerblue;
  border-left-width: 5px;
  margin-left: 5%;
}

.ImpressumHaftungshinweis{
  font-weight: bold;
  font-size: 20px;
}

.mainColor{
  background-color:cornflowerblue;
}

.CN_index_Main_Card{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.CN_index_Main_Card-text{
  color: rgba(0,0,0,.54);
  font-size: 1.5rem;
  line-height: 24px;
  overflow: hidden;
  padding: 16px;
  max-width: 80%;
  float: left;
}

.CN_index_Main_Card-logo{
  max-width: 20%;
  float: right;
  overflow: hidden;
  padding: 16px;
}

div.CN_index_Main_Card-logo img{
  width: 60%;
}

.CN_full-size_card {
  min-height: 100%;
  min-width: 100%;
}

.attention_message {
  color: red;
  font-weight: bold;
}
