#footer {
    position: fixed;
    bottom: 0px;
}

.contactTextarea{
    /* Breite und Höhe werden angepasst */
    width:500px;
    height:200px;
}

.header_button_list {
  text-decoration: none;
  color: rgb(202, 57, 43);
}

.header_button {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.headline {
    display: block;
    margin: 0 auto;
}

.indexImage {
    background-image: url("https://lkao6q.ch.files.1drv.com/y4mSE3SKD_4XCVzDecoffVnzTyb9Pd6Mtelm5OH6jLgH3Hdg5YJaiPaRo19-nTSmRUjqMZUZ7h6oRYkiaEmkv_bWFUUTj1N0YXobtyaSp7vs8G-qjh2QlDqk4Z8Rcu-4K14D-C8Pze3WqzLzcYl5qDq3b2Tgm5ds66FdmUeAK3MscpMwIqAbjIzAAvAlJpU3QMXjFc6fWYyLWOo4DEvi71Y_g?width=6000&height=4000&cropmode=none");
    color: #cccccc;
}

.login_button {
    text-decoration: none;
    color: black;
}

.header_color{
  background-color: transparent;
    color: black;
}

.header_login {
  max-width: 90%;
  background-color: gray;
  border-left-width: 5px;
  margin-left: 5%;
}

.ImpressumHaftungshinweis{
  font-weight: bold;
  font-size: 20px;
    color: white;
}

/*noinspection ALL*/
.mainColor{
  background-color: lightgray;

}

.CN_index_Main_Card{
    flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  min-height: 150px;
  overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.85);
}

.news_Card_location {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.85);

}

.news_Card_location_Pfadis {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.85);

}

.CN_index_Main_Card-text{
    background: transparent;
  color: rgba(0,0,0,.54);
  font-size: 1.3rem;
  line-height: 24px;
  overflow: hidden;
  padding: 16px;
  max-width: 80%;
  float: left;
}

.CN_index_Main_Card-logo {
    max-width: 90%;
    float: right;
    overflow: hidden;
    padding: 0px;
    background: transparent;
}

.image_settings{
    max-width: 60%;
    display: block;
    overflow: hidden;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.85);
}

div.CN_index_Main_Card-logo img{
  width: 80%;
    height: 80%
}

.CN_full-size_card {
    min-height: 100%;
    min-width: 100%;
}

.CN_full-size_card_stammesinfo {
    min-height: 100%;
    min-width: 70%;
    margin: 0 auto;
    display: block;
    background: rgba(255, 255, 255, 0.85);
}


.attention_message {
  color: white;
  font-weight: bold;
  background-color: red;
}

.eu_cookiebox {
    display: block;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    min-height: 30px;
    padding: 5px;
    margin: 0;
    width: 100%;
    color: #555;
    border: 1px solid black;
    border-bottom: none;
    background: #fff;
}

.impressum_card{
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.center_ssi{
    margin-top: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.center_ssi_welcome{
    margin-left: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.center_ssi_logout {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.center_text {
    margin: 0 auto;
    display: block;
}